<ion-content class="fondo">

  <app-navbar-admin ></app-navbar-admin>
  
  <ion-list *ngFor="let turno of turnos; let i = index" class="lista" [inset]="true">
    <ion-item-sliding >
      <ion-item  [button]="true" detail-icon="caret-forward-outline">
        <ion-avatar style="width: 70px; height: 70px;" aria-hidden="true" slot="start">
          <img alt="" class="qr" src="{{turno.foto}}" />
        </ion-avatar>
        <ion-list>        
          <ion-label style="padding-top: 10px;" ><h5 style="color: #395886; font-weight: 700;">{{turno.nombre}}</h5></ion-label>
          <ion-label><p class="datos">Fecha: {{turno.fecha}}</p></ion-label>
          <ion-label><p class="datos">Guardias solicitados: {{turno.ctd_guardias}}</p></ion-label>
          <ion-label><p class="datos">Hora inicio: {{turno.horario_inicio}}</p></ion-label>
          <ion-label><p class="datos">Hora término: {{turno.hora_fin}}</p></ion-label>
          <ion-label style="padding-bottom: 10px;"><p class="datos" >Remuneración: $ {{ turno.remuneracion | currency:'CLP':'':'1.0-0':'es-CL' }}</p></ion-label>
        </ion-list>

        <ion-list>

        </ion-list>
        
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="create" id="asignaciones-{{i}}" (click)="obtenerAsignaciones(turno.id_turno)"></ion-icon>
        </ion-item-option>
        <ion-item-option color="secondary">
          <ion-icon slot="icon-only" name="pencil" id="incidencia-{{i}}" (click)="obtenerSedes()"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash" (click)="confirmarEliminar(turno.id_turno)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-modal #modal trigger="incidencia-{{i}}">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Modificar Turno</ion-title>
          </ion-toolbar>
          <ion-list>
            <ion-item>
              <ion-input #sedeID style="display: none;" aria-label="Sede" value="{{turno.id_sede}}"></ion-input>
              <ion-select #sedeSelect  label="Sedes: " placeholder="{{turno.nombre}}">
                <ion-select-option *ngFor="let sede of sedes; let j = index" lines="none" labelPlacement="floating" detail="false" [value]="sede">{{sede.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input #fechaInput  label="Fecha: (YYYY-MM-DD) "  labelPlacement="floating"value="{{turno.fecha}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input #ctdGuardiasInput  label="Cantidad de Guardias: "  labelPlacement="floating" type="number"  value="{{turno.ctd_guardias}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input #horaIniInput  label="Horario de inicio: (HH:MM)"  labelPlacement="floating" value="{{turno.horario_inicio}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input #horaFinInput label="Horario de termino: (HH:MM)" labelPlacement="floating" value="{{turno.hora_fin}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input #remuInput  label="Remuneración: "  labelPlacement="floating" value="{{turno.remuneracion}}"></ion-input>
            </ion-item>

            
            <ion-buttons class="btns">
              <ion-button class="btncancelar" (click)="modal.dismiss()">Cancelar</ion-button>
              <ion-button class="btnenviar" [strong]="true" (click)="confirmarActualizar(turno.id_turno)">Modificar</ion-button>
            </ion-buttons>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal class="asignacion" #modal trigger="asignaciones-{{i}}">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Modificar Asignaciones</ion-title>
          </ion-toolbar>
          <ion-list>   
            <ion-item>
            <ion-select #asignacionSelect  label="Guardias: " placeholder="">
              <ion-select-option *ngFor="let asignacion of asignaciones; let j = index" lines="none" labelPlacement="floating" detail="false" [value]="asignacion">Guardia: {{asignacion.nombre}} {{asignacion.rut_guarida}}</ion-select-option>
            </ion-select>   
          </ion-item>
            <ion-buttons class="btns">
              <ion-button class="btncancelar" (click)="closeModal()">Cancelar</ion-button>
              <ion-button class="btnenviar" [strong]="true" (click)="confirmarEliminarAsignacion()">Eliminar</ion-button>
            </ion-buttons>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

  </ion-list>


  <div class="tope"></div>
  <div class="boton"><button class="botonGenerar" id="solicitud" (click)="obtenerSedes()" >Crear Turno</button></div>


  
  <ion-modal #modal trigger="solicitud">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Crear Turno</ion-title>
        </ion-toolbar>
        <ion-list>
          <ion-item>
            <ion-select #sedeSelectC  label="Sedes: " placeholder="">
              <ion-select-option *ngFor="let sede of sedes; let j = index" lines="none" labelPlacement="floating" detail="false" [value]="sede" >{{sede.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-input #fechaInputC  label="Fecha: (YYYY-MM-DD) "  labelPlacement="floating"value="" [counter]="true" maxlength="10"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input #ctdGuardiasInputC  label="Cantidad de Guardias: "  labelPlacement="floating" type="number"  value=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-input #horaIniInputC  label="Horario de inicio: (HH:MM)"  labelPlacement="floating" value="" [counter]="true" maxlength="5"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input #horaFinInputC label="Horario de termino: (HH:MM)" labelPlacement="floating" value="" [counter]="true" maxlength="5"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input #remuInputC  label="Remuneración: " type="number" labelPlacement="floating" value=""></ion-input>
          </ion-item>

          
          <ion-buttons class="btns">
            <ion-button class="btncancelar" (click)="modal.dismiss()">Cancelar</ion-button>
            <ion-button class="btnenviar" [strong]="true" (click)="confirmarCrear()">Crear</ion-button>
          </ion-buttons>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
