.fondo{
  --background: rgb(78, 118, 169);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Ajusta esto según tus necesidades
  .logo1 {
    position: relative;
    img {
      display: block;
      width: 50vw; // Ajusta el tamaño de tu logo aquí
    }
  }
  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 65vw; // Ajusta el tamaño del spinner aquí
    height: 65vw; // Ajusta el tamaño del spinner aquí
    border: 20px solid transparent; // Ajusta el grosor del spinner aquí
    border-top-color: #e9edf5da;
    border-right-color: #e9edf5a9;
    border-bottom-color: #e9edf56b;
    border-left-color: #e9edf517;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    background-size: 200% 100%;
    background-position: right bottom;
  }
}
