.fondo{
    --background: rgb(57,88,134);
    --background: linear-gradient(90deg, rgba(57,88,134,1) 0%, rgba(99,142,203,1) 10%, rgba(138,174,224,1) 20%,rgba(177,201,239,1) 30%, rgba(213,222,239,1) 40%,   rgba(213,222,239,1) 60%, rgba(177,201,239,1) 70%, rgba(138,174,224,1) 80%, rgba(99,142,203,1) 90%, rgba(57,88,134,1) 100%);
}
.contenedor{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.imagen-header{
    height: 20%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    filter: drop-shadow(0 0 0.3rem rgb(0, 0, 0));
}
.imagen-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    filter: drop-shadow(0 1 0.3rem rgb(0, 0, 0));
}

.logo{
    width: 50%;
}
.logo2{
    width: 30%;
}
.for{
    font-weight: 700;
    margin-bottom: 0% !important;
    color: black;
}
ion-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}
  
ion-card-title {
    text-align: center;
}
  
ion-button {
    --background: linear-gradient(rgb(57, 88, 134) 0%, rgb(50, 75, 114) 100%) !important;
}
.boton{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    filter: drop-shadow(0 0 0.2rem rgb(78, 118, 169));
}

.btnentrar{
    width: 100%;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: large;
    box-shadow: inset 0 2px 0 0 hsla(0, 0%, 100%, .2), inset 0 -1px 0 0 rgba(0, 0, 0, .25), 0 2px 6px 0 rgba(0, 0, 0, .1);
}
p {
    margin-top: 10px;
    text-align: center;
}

.carta{
    bottom: 0;
    width: 100%;
    height: 80%;
    margin: auto;
    margin-top: 30%;
    background: #e9edf548;
}

.inputs{
    border-bottom: 1px solid black;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.correo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icono{
    width: 3em;
}
.eye{
    color: white;
  }