<ion-content class="fondo">

  <app-navbar-admin ></app-navbar-admin>


 <!--Carta-->
 <div class="contenedor">
  <ion-list class="fondo">
    <ng-container *ngIf="asistencias.length; else noTurnos">
    <ion-item *ngFor="let asistencia of asistencias; let i = index" lines="none" detail="false" button (click)="asistencia.expanded = !asistencia.expanded" >
      <ion-card >
    
          <div class="card-content">
            <ion-card-header>
              <ion-card-title>Nro asistencia: {{asistencia.id_asistencia}}</ion-card-title>          
            </ion-card-header>
            <p class="seccion">Fecha: {{asistencia.fecha}}</p>
            <p class="seccion">Sede: {{asistencia.sede}}</p>
            <p class="seccion">Guardia: {{asistencia.guardia}}</p>
            <ion-card-content>

              <ion-img *ngIf="!asistencia.expanded" src="./../../../assets/img/flecha.png" class="flecha"></ion-img>

              <div *ngIf="asistencia.expanded" >
                <p class="seccion">Remuneracion inicial:<br>  {{asistencia.remuneracion_inicial}}</p>
                <p class="seccion">Porcentaje de descuento: {{asistencia.porc_descuento}}%</p>
                <p class="seccion">Remuneracion final: <br> {{asistencia.remuneracion_final}}</p>
                <ion-img *ngIf="asistencia.expanded" src="./../../../assets/img/flecha2.png" class="flecha"></ion-img>
              </div>

            </ion-card-content>
          </div>


      </ion-card>
     
    </ion-item>
  </ng-container>

  <ng-template #noTurnos>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <p style="margin: auto;">No hay asistencias</p>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ng-template>
  </ion-list>
</div>
<div class="tope"></div>
<div class="boton"><button class="botonGenerarPdf" id="crear" (click)="confirmarCrear()">Generar Reporte PDF</button>
 <button class="botonGenerarExcel" id="crear" (click)="confirmarCrearExcel()">Generar Reporte Excel</button>
</div>

</ion-content>
