<ion-content class="fondo">

  <app-navbar-admin ></app-navbar-admin>
  
  <div class="filtros">
    <div class="fecha">
      <button class="btnfiltro" (click)="openModalFecha()" value="currentValue">Fecha: {{currentValue.toString()
        .split('-')[0]}}- {{currentValue.toString()
          .split('-')[1]}}</button>
  
      <ion-modal #modal [isOpen]="showModal" (didDismiss)="onDidDismissFecha($event)" [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="datetime"
            presentation="month-year"
            (ionChange)="onIonChange($event)"
            [value]="currentValue"
          ></ion-datetime>
          <button class="seleccionar" (click)="modal.dismiss(currentValue, 'confirm')">Seleccionar</button>
        </ng-template>
      </ion-modal>
  
      
    </div>

    <div class="fecha">
      <button class="btnfiltro" (click)="openModalSede()">Sede: {{currentNombreSede}} </button>

<ion-modal class="sede" #modalSede  [isOpen]="showModalSede" (didDismiss)="onDidDismissSede($event)" [keepContentsMounted]="true">
  <ng-template>
    <ion-picker>
      <ion-picker-column [value]="currentValueSede" (ionChange)="onSedeChange($event)">
        <ion-picker-column-option *ngFor="let sede of sedes; let i = index" value="{{sede.id_sede}}">{{sede.nombre}}</ion-picker-column-option>
      </ion-picker-column>
    </ion-picker>
    <button class="seleccionar" (click)="modalSede.dismiss(currentValueSede, 'confirm')">Seleccionar</button>
  </ng-template>
</ion-modal>
    </div>
  </div>
  

  
 <!--Carta-->
 <div class="contenedor">
  <ion-list class="fondo">
    <ng-container *ngIf="asistencias.length; else noTurnos">
    <ion-item *ngFor="let asistencia of asistencias; let i = index" lines="none" detail="false" button (click)="asistencia.expanded = !asistencia.expanded" >
      <ion-card >
    
          <div class="card-content">
            <ion-card-header>
              <ion-card-title>Nro asistencia: {{asistencia.id_asistencia}}</ion-card-title>          
            </ion-card-header>
            <p class="seccion">Fecha: {{asistencia.fecha}}</p>
            <p class="seccion">Sede: {{asistencia.sede}}</p>
            <p class="seccion">Dirección: {{asistencia.direccion}}</p>
            <ion-card-content>

              <ion-img *ngIf="!asistencia.expanded" src="./../../../assets/img/flecha.png" class="flecha"></ion-img>

              <div *ngIf="asistencia.expanded" >
                <p class="seccion">Guardia que reporto: {{asistencia.guardia}}</p>
                <p class="seccion">Detalle de la asistencia: <br> {{asistencia.detalle_asistencia}}</p>
                <ion-img *ngIf="asistencia.expanded" src="./../../../assets/img/flecha2.png" class="flecha"></ion-img>
              </div>

            </ion-card-content>
          </div>


      </ion-card>
     
    </ion-item>
  </ng-container>

  <ng-template #noTurnos>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <p style="margin: auto;">No hay asistencias</p>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ng-template>
  </ion-list>
</div>
<div class="tope"></div>
<div class="boton"><button class="botonGenerar" id="crear" (click)="confirmarCrear()">Generar Reporte</button></div>

</ion-content>
