<ion-content class="fondo">

  <app-navbar ></app-navbar>

  <div class="fecha">
    <ion-datetime-button class="btnfecha" datetime="datetime"></ion-datetime-button>

    <ion-modal #modal [isOpen]="showModal" (didDismiss)="onDidDismiss($event)" [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="datetime"
          presentation="month-year"
          (ionChange)="onIonChange($event)"
          [value]="currentValue"
        ></ion-datetime>
        <button class="seleccionar" (click)="modal.dismiss(currentValue, 'confirm')">Seleccionar</button>
      </ng-template>
    </ion-modal>
  </div>
  
  <!--Carta-->
  <div class="contenedor">
    <ion-list class="fondo">
      <ng-container *ngIf="asignaciones.length; else noTurnos">
      <ion-item  lines="none" detail="false" >
        <ion-card >

          <div class="card-content">
            <ion-card-header>
              <ion-card-title>Remuneraciones</ion-card-title>
              <p class="total"> Total remuneración: $ {{ totalRemuneracion | currency:'CLP':'':'1.0-0':'es-CL' }} </p>
            </ion-card-header>
            <div class="remuneracion"  *ngFor="let asignacion of asignaciones; let i = index">
            <p class="seccion"><span class="label">Fecha: </span> <span class="value">{{asignacion.fecha}}</span></p>
            <ion-card-content> 
              <p class="seccion"><span class="label">Hora Entrada: </span> <span class="value">{{asignacion.hora_ini_1}}</span></p>
              <p class="seccion"><span class="label">Hora Salida: </span> <span class="value">{{asignacion.hora_fin_2}}</span></p>
              <p class="seccion"><span class="label">Descuento: </span> <span class="value">{{(asignacion.porc_descuento ?? 0)}} %</span></p>
              <p class="seccion"><span class="label">Remuneracion Final: </span> <span class="value">$ {{ asignacion.remuneracion_final | currency:'CLP':'':'1.0-0':'es-CL' }}</span></p>
            </ion-card-content>
          </div>
          </div>


      </ion-card>
      </ion-item>
    </ng-container>

    <ng-template #noTurnos>
      <ion-item>
        <ion-card>
          <ion-card-header>
            <p style="margin: auto;">No registras remuneraciones en este mes</p>
          </ion-card-header>
        </ion-card>
      </ion-item>
    </ng-template>
    </ion-list>
  </div>
  
  </ion-content>
  
  
    <!--Carta-->
  
  
  
